*{
  box-sizing: border-box;
}
body{
  font-family: "Glegoo";
  width: 100%;
}

.container{
  margin-top: 20px;
  width: 300px;
  background-color: white;
  min-height: 480px;
  text-align: center;
  border-top: 4px solid rgb(107, 107, 201);
  border-bottom: 4px solid blue;
  border-left: 5px solid red;
  border-right: 5px solid red;
  border-radius: 10%;
}
.btn{
  width: 80px;
}

.btn1{
  width: 150px;
  height: 40px;
}
label{
  font-size: 17px;
}

